*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
color: white;
text-align: center;
padding: 70px 20px;

}

h2{

color: #ec4899;
margin-bottom: 15px;
}

header h1{

    font-size: 36px;
}

header p {

    font-size: 18px;
    opacity: 0.8;
}
main{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section{

   background-color: white;
   padding: 30px;
   margin-bottom: 35px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   border-left: 4px solid #ec4899;

}

section:hover {

    box-shadow: 0 12px 30px rgba(236,72,153,0.2);
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
ul li {

    margin-bottom: 8px;
}

@media (min-widht: 768px) and  (max-widht: 1024px) {
main {

    max-width: 700px;
}

section{
    padding: 25px;
    margin-bottom: 30px;

}

header{

    padding: 50px 20px;
}

}

.skills{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.skills li {

    padding: 8px 14px;
    border-radius: 999px;
    background-color: #fce7f3;
    color: #be185d;
    font-size: 14px;
    font-weight: 500;
}

.hero{
    height: 100vh;
    background: linear-gradient(135deg, #1f1f1f , #2c2c2c);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.heroh1 {
font-size: 3rem;
margin-bottom: 10px;

}

.hero h2{

    font-weight: 400;
    margin-bottom: 10px;

}

.hero p{
    margin-bottom: 20px;
    opacity: 0.8;
}

.hero-btn {
    padding: 12px 25px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.hero-btn:hover {

    transform: scale(1.05);
}
.project-links a {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 12px;
    text-decoration: none;
    background-color: #d6336c;
    color: white;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 14px;
}
.project-links a:last-child {
    background-color: transparent;
    border: 1px solid #d6336c;
    color: #d6336c;
}

.project-links a:last-child:hover {
    background-color: #d6336c;
    color: white;
}
